In [4]:
for i in range(20):
  if i//4==0:
    print(i)

0
1
2
3

In [5]:
for i in 1,2,3:
  print(i*i)

1
4
9

In [6]:
for i in 2,4,6:
  print('S'*i)

SS
SSSS
SSSSSS

In [7]:
x=2
for i in range(x**2,x,-1):
  print(x)

2
2