In [ ]:
#reversing the tuple
a=(17,18,19)
b=list(a)
b.sort(reverse=True)
print(b)

[19, 18, 17]

In [ ]:
#accessing the value 20 from tuple
a=('orange',[10,20,30],(5,15,25))
a[1][1]

20

In [ ]:
#creating a tuple with single item
a=(50,)
type(a)
print(a)

(50,)

In [ ]:
#unpack the tuple into variables
a=(10,20,30,40)
b=list(a)
c=b[0]
d=b[1]
s=b[2]
z=b[3]
print(c)
print(d)
print(s)
print(z)

10
20
30
40

In [ ]:
#swapping
a=(11,22)
b=(99,88)
a,b=b,a
print(a)
print(b)

(99, 88)
(11, 22)

In [ ]:
#modifying tuple
a=(11,[22,33],44,55)
a[1][0]=222
print(a)

(11, [222, 33], 44, 55)

In [ ]:
#count the number of occurence of item 50
a=(10,20,50,30,40,50)
a.count(50)

2

In [ ]:
#unzip a tuple into indivisual list
a=[(1,2),(3,4),(8,9)]
a1,a2=zip(*a)
print(a1)
print(a2)

(1, 3, 8)
(2, 4, 9)

In [ ]:
#removing an item from a tuple
a=(1,2,3,4,5)
b=list(a)
del b[3]
c=tuple(b)
print(c)

(1, 2, 3, 5)

In [ ]:
#code to get 4th element and 4th element from last
a=['a','b','c','d','ab','bc','cd','ef','fg']
b=list(a)
b[3]

'd'

In [ ]:
b[-4]

'bc'

In [ ]:
#converting tuple into string
a=('e','x','e','r','c','i','s','e')
b="".join(a)
print(b)

exercise

In [ ]:
#finding max and min value from set
a={11,22,33,44,55}
print(max(a))
print(min(a))

55
11

In [ ]:
#creating union of set
a={11,22,33}
b={44,55,66}
c={11,66,77,88}
a.union(b)

{11, 22, 33, 44, 55, 66}

In [ ]:
#creating intersection of set
b.intersection(c)

{66}

In [ ]:
#creating difference of set
a.difference(c)

{22, 33}

In [ ]:
#creating symmetric difference of set
a.symmetric_difference(c)

{22, 33, 66, 77, 88}

In [ ]:
#checking whether sets are disjoint or not 
a.isdisjoint(b)

True

In [ ]:
b.isdisjoint(c)

False

In [ ]:
a.isdisjoint(c)

False

In [ ]:
#checking whether which is subset or superset of other
a={1,2,3,4,5,6,7,8,9,10}
b={2,4,6,8,10}
a.issubset(b)

False

In [ ]:
b.issubset(a)

True

In [ ]:
a.issuperset(b)

True

In [ ]:
b.issuperset(a)

False

In [ ]:
#adding list of elements to set
a={'yellow','orange','black'}
a.update(['blue','green','red'])
print(a)

{'black', 'orange', 'red', 'yellow', 'green', 'blue'}

In [1]:
#get only unique item from two set
a={1,2,3,4}
b={2,7,4,8}
a.symmetric_difference(b)

{1, 3, 7, 8}

In [6]:
#write a code to remove any item from set
b={1,3,4,6,9}
b.pop()
print(b)

{3, 4, 6, 9}

In [7]:
#write a code to remove selected item from set
a={1,2,3,5}
a.remove(5)
print(a)

{1, 2, 3}