##PYTHON LIST
PROPERTIES OF LISTS : 

1.Mutable

2.Ordered

3.Heterogenous

4.Duplicates

In [ ]:
#Creating list of name,age,standard,field,roll no,location.
#using [ ], list constructor
sbg=['suraj',19.7,'SY','IT',98,'Thane']
print(sbg)
#vs
gbs=list(('suraj',19.7,'SY','IT',98,'Thane'))
print(gbs)

['suraj', 19.7, 'SY', 'IT', 98, 'Thane']
['suraj', 19.7, 'SY', 'IT', 98, 'Thane']

In [ ]:
#printing only field
#using index
sbg[3]

'IT'

In [ ]:
#printing position of location
#indexing
sbg.index('Thane')

5

In [ ]:
#printing elements between age and roll no
#forward indexing
sbg[1:5]

[19.7, 'SY', 'IT', 98]

In [ ]:
#backward indexing
sbg[-5:-1]

[19.7, 'SY', 'IT', 98]

In [ ]:
#replacing surname over name
sbg[0]='Godambe'
print(sbg)

['Godambe', 19.7, 'SY', 'IT', 98, 'Thane']

In [ ]:
#replacing age and field
b=['suraj',19.7,'SY','IT',98,'Thane']
b[0:3]='Godambe',19,'TY'
print(b)

['Godambe', 19, 'TY', 'IT', 98, 'Thane']

In [ ]:
#replacing surname and age with another name
b[0:2]=['shelar']
print(b)

['shelar', 'TY', 'IT', 98, 'Thane']

In [ ]:
#replacing name with nickname and other name
c=['shelar', 'TY', 'IT', 98, 'Thane']
c[0:1]='sbg','sarphale'
print(c)

['sbg', 'sarphale', 'TY', 'IT', 98, 'Thane']

In [ ]:
#adding other name after nickname
d=['sbg', 'sarphale', 'TY', 'IT', 98, 'Thane']
d.insert(0,'sangle')
print(d)

['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'Thane']

In [ ]:
#adding hobby
e=['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'Thane']
e.append('reading')
print(e)

['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'Thane', 'reading']

In [ ]:
#adding hobbies
av=['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'Thane', 'reading']
av.extend(['gaming','cricket'])
print(av)

['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'Thane', 'reading', 'gaming', 'cricket']

In [ ]:
#removing location
del av[6]
print(av)

['sangle', 'sbg', 'sarphale', 'TY', 'IT', 98, 'cricket']

In [ ]:
#removing field
av.remove('TY') #av.pop(3)
print(av)

['sangle', 'sbg', 'sarphale', 'IT', 'cricket']

In [ ]:
#clearing entire list
av=['sangle', 'sbg', 'sarphale', 'IT', 'cricket']
av.clear()
print(av)

[]

In [ ]:
#deleting list
del av
print(av)

NameError: ignored

In [1]:
'''creating list of prime numbers upto 20,
   finding their length'''
sd=[1,3,5,7,11,13,17,19]
len(sd)

8

In [ ]:
#printing largest and smallest number
print(min(sd))
print(max(sd))

1
19

In [ ]:
#printing sum of all numbers in the list
sum(sd)

76

In [ ]:
#creating list using numbers and boolean
#using functions all,any
list1=[0,1,True,False]
print(any(list1))
print(all(list1))

True
False

In [ ]:
#printing ascending order and reverse of the list
a1=[5,2,18,7,12]
a1.sort()
print(a1)
a1.reverse()
print(a1)

[2, 5, 7, 12, 18]
[18, 12, 7, 5, 2]

In [ ]:
#merging two lists
#using +,extend
a2=[2, 5, 7, 12, 18]
a3=[18, 12, 7, 5, 2]
#print(a2+a3)
a2.extend(a3)

[2, 5, 7, 12, 18, 18, 12, 7, 5, 2]

In [ ]:
#deep copying
a2=a3
a2.append(19)
print(a2)
print(a3)

[18, 12, 7, 5, 2, 19]
[18, 12, 7, 5, 2, 19]

In [ ]:
#copying list
b=[2, 5, 7, 12, 18]
b1=[18, 12, 7, 5, 2]
c=b.copy()
c.append(19)
print(c)
print(b1)

[2, 5, 7, 12, 18, 19]
[18, 12, 7, 5, 2]

In [ ]:
#using stack and queue
st=[1,2,3,4,5]
stack=st.append(6)
print(st)
stack=st.pop()
print(st)
queue=st.append(4)
print(st)
queue=st.pop(0)
print(st)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 4]
[2, 3, 4, 5, 4]

In [ ]:
#zipping lists containing name,age,roll no
name=['suraj','pratham','hrishi']
age=[19,20,21]
roll_no=[98,36,59]
data=zip(name,age,roll_no)
data=list(data)
print(data)

[('suraj', 19, 98), ('pratham', 20, 36), ('hrishi', 21, 59)]

In [ ]:
#unzip the above list
name1,age1,roll_no1=zip(*data)
print(name1,age1,roll_no1)

('suraj', 'pratham', 'hrishi') (19, 20, 21) (98, 36, 59)